.authTitle {
	font-family: Furore, sans-serif;
	font-weight: 400;
	line-height: 115%;
	font-size: 3.5rem;
	letter-spacing: 0.5px;
	text-align: center;
	transition: color var(--change-theme-transition) ease-out;
}
