.img {
	position: absolute;
	top: 50%;
	width: 18px;
	height: 18px;
	opacity: 0.8;
	transform: translateY(-50%);
	object-fit: contain;
	pointer-events: none;
}

.text {
	right: 10px;
	pointer-events: none;
}
