.section {
	font-family: 'Roboto Flex', sans-serif;
}

.wrapper {
	display: flex;
	width: 100%;
	min-height: 100vh;
}

.innerForm {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55%;
	min-height: 100vh;
}

.innerText {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 45%;
	min-height: 100vh;
}

.toolbar {
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 1rem;
	column-gap: 0.8rem;
}
