.button {
	display: flex;
	align-items: center;
	padding: 0 0.75rem;
	border-radius: 50px;
	overflow: hidden;
	transition: background-color var(--change-theme-transition) ease;
}

.ligthTheme {
	background-color: #dfdfdf;
}

.darkTheme {
	background-color: #797979;
}

.moonSunRoot {
	position: relative;
}

.moonVisible {
	left: -2.6rem;
	transition: left var(--change-theme-transition) ease-out 0.2s;
}

.moonHidden {
	left: 3rem;
	transition: left var(--change-theme-transition) ease-out;
}

.sunVisible {
	right: -2.4rem;
	transition: right var(--change-theme-transition) ease-out 0.2s;
}

.sunHidden {
	right: 3rem;
	transition: right var(--change-theme-transition) ease-out;
}
