@mixin technical-work-gear() {
	position: relative;
	object-fit: cover;

	@keyframes rotate {
		0% {
			transform: rotate(35deg);
		}

		100% {
			transform: rotate(395deg);
		}
	}

	@keyframes rotate-reverse {
		0% {
			transform: rotate(15deg);
		}

		100% {
			transform: rotate(-345deg);
		}
	}
}

.lightTheme {
	color: var(--secondary-bg-color);
}

.darkTheme {
	color: var(--main-bg-color);
}

.technicalWorkGearOne {
	transform: rotate(35deg);
	animation: rotate 10s linear infinite;
	bottom: 72px;
	left: 51px;

	@include technical-work-gear;

	@media (width <= 1440px) {
		bottom: 67px;
		left: 44px;
		width: 270px;
		height: 270px;
	}

	@media (width <= 1024px) {
		bottom: 58px;
		left: 40px;
		width: 240px;
		height: 240px;
	}

	@media (width <= 768px) {
		bottom: 48px;
		left: 34px;
		width: 200px;
		height: 200px;
	}

	@media (width <= 550px) {
		bottom: 46px;
		left: 32px;
		width: 190px;
		height: 190px;
	}

	@media (width <= 425px) {
		bottom: 34px;
		left: 24px;
		width: 140px;
		height: 140px;
	}
}

.technicalWorkGearTwo {
	transform: rotate(15deg);
	animation: rotate-reverse 10s linear infinite;
	top: 72px;
	right: 51px;

	@include technical-work-gear;

	@media (width <= 1440px) {
		top: 67px;
		right: 44px;
		width: 270px;
		height: 270px;
	}

	@media (width <= 1024px) {
		top: 59px;
		right: 40px;
		width: 240px;
		height: 240px;
	}

	@media (width <= 768px) {
		top: 48px;
		right: 34px;
		width: 200px;
		height: 200px;
	}

	@media (width <= 550px) {
		top: 46px;
		right: 32px;
		width: 190px;
		height: 190px;
	}

	@media (width <= 425px) {
		top: 34px;
		right: 24px;
		width: 140px;
		height: 140px;
	}
}
