.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 40px;
	font-family: Furore, sans-serif;
	font-size: 1.1rem;
	letter-spacing: 1px;
	border-radius: 10px;
	column-gap: 0.5rem;
	transition:
		background-color var(--change-theme-transition) ease-out,
		color var(--change-theme-transition) ease-out;

	&:hover {
		opacity: 0.8;
	}

	@media (width <= 1024px) {
		width: 220px;
		height: 35px;
		font-size: 1.05rem;
	}

	@media (width <= 768px) {
		width: 100%;
	}

	@media (width <= 550px) {
		margin-top: 0.5rem;
		font-size: 1rem;
	}
}
