.lightTheme {
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	color: white;
	background-color: black;
	border-radius: 80px;

	&:active {
		position: relative;
		bottom: 2px;
	}
}

.darkTheme {
	padding: 0.5rem 1rem;
	font-size: 1.5rem;
	color: black;
	background-color: white;
	border-radius: 80px;

	&:active {
		position: relative;
		bottom: 2px;
	}
}
