.img {
	width: 25px;
	height: 25px;
	object-fit: cover;
	transition: var(--change-theme-transition) ease-out;

	@media (width <= 1024px) {
		width: 24px;
		height: 24px;
	}

	@media (width <= 768px) {
		width: 23px;
		height: 23px;
	}

	@media (width <= 550px) {
		width: 22px;
		height: 22px;
	}

	@media (width <= 425px) {
		width: 20px;
		height: 20px;
	}
}
