.root {
	position: fixed;
	z-index: -1;
	inset: 0;
	transition: background-color var(--change-theme-transition) ease-out;
	pointer-events: none;
}

.bgLigthTheme {
	background-color: var(--main-bg-color);
}

.bgDarkTheme {
	background-color: var(--secondary-bg-color);
}
