.eyeLine {
	position: absolute;
	width: 120%;
	height: 2px;
	background-color: var(--secondary-bg-color);
	opacity: 0.5;
	transform: rotate(45deg);
	transition: width 0.2s ease-out;
}

.eyeLineShow {
	width: 0;
}

.button {
	position: absolute;
	top: 50%;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	transform: translateY(-50%);

	@media (width <= 768px) {
		right: 12px;
		width: 16px;
		height: 16px;
	}

	@media (width <= 550px) {
		right: 14px;
		width: 14px;
		height: 14px;
	}
}
