:root {
	--main-font-color: #1f1d1d;
	--main-bg-color: #fff;
}

.container {
	padding: 0 15px;
}

@font-face {
	font-family: Furore;
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Furore/Furore.otf');
}
