.header {
	position: relative;
	font-family: 'Roboto Flex', sans-serif;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 2rem;
	height: 80px;
}

.title {
	font-weight: 600;
	line-height: 100%;
	font-size: 3rem;
	letter-spacing: 0.5px;
}
