.colorLightTheme {
	color: var(--main-font-color);
}

.colorDarkTheme {
	color: var(--secondary-font-color);
}

.bgColorLightTheme {
	background-color: var(--main-bg-color);
}

.bgColorDarkTheme {
	background-color: var(--secondary-bg-color);
}

.accenttColorLithTheme {
	color: var(--ligth-theme-accent-bg-color);
}

.accentColorDarkTheme {
	color: var(--dark-theme-accent-bg-color);
}

.toolbarBtnBgLightTheme {
	background-color: var(--main-accent-color);
}

.toolbarBtnBgDarkTheme {
	background-color: var(--secondary-accent-color);
}

.errorsMessagesLigthTheme {
	color: #f00;
}

.errorsMessagesDarkTheme {
	color: var(--dark-theme-accent-bg-color);
}

.btnSubmitBgColorLithTheme {
	background-color: var(--ligth-theme-accent-bg-color);
}

.btnSubmitLineBgColorDarkTheme {
	background-color: var(--dark-theme-accent-bg-color);
}

.loaderBorderTopLightTheme {
	border-top-color: var(--ligth-theme-accent-bg-color);
}

.loaderBorderTopDarkTheme {
	border-top-color: var(--dark-theme-accent-bg-color);
}
