.colorLightTheme {
	color: var(--main-font-color);
}

.colorDarkTheme {
	color: var(--secondary-font-color);
}

.bgColorLightTheme {
	background-color: var(--main-bg-color);
}

.bgColorDarkTheme {
	background-color: var(--secondary-bg-color);
}

.toolbarBtnBgLightTheme {
	background-color: var(--main-accent-color);
}

.toolbarBtnBgDarkTheme {
	background-color: var(--secondary-accent-color);
}
