.form {
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	margin-top: 3rem;
	padding: 2rem;
	border-radius: 10px;
	transition: box-shadow var(--change-theme-transition) ease-out;

	@media (width <= 1024px) {
		margin-top: 2.5rem;
	}

	@media (width <= 768px) {
		margin-top: 2rem;
		padding: 1.5rem;
	}

	@media (width <= 550px) {
		margin-top: 1.8rem;
		padding: 1.5rem 1rem;
	}

	@media (width <= 425px) {
		margin-top: 1.5rem;
		padding: 1.2rem 0.75rem;
	}
}

.label {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

.labelUnderline {
	position: absolute;
	bottom: 0;
	width: 0%;
	height: 3px;
	pointer-events: none;
	transition:
		width 0.3s,
		background-color var(--change-theme-transition) ease-out;
}

.inputRoot {
	padding: 0.5rem;
	width: 100%;
	font-family: 'Roboto Flex', sans-serif;
	border-bottom: 1px solid var(--main-accent-color);
	transition:
		color var(--change-theme-transition) ease-out,
		background-color var(--change-theme-transition) ease-out;

	&:focus ~ .labelUnderline {
		width: 100%;
	}

	&::placeholder {
		font-family: 'Roboto Flex', sans-serif;
		font-weight: 400;
		opacity: 0.5;
	}
}

.inputTitle {
	font-size: 2rem;

	&::placeholder {
		font-family: 'Roboto Flex', sans-serif;
		font-weight: 400;
		font-size: 1.8rem;
		opacity: 0.5;
	}

	@media (width <= 1024px) {
		font-size: 1.8rem;

		&::placeholder {
			font-size: 1.6rem;
		}
	}

	@media (width <= 768px) {
		font-size: 1.6rem;

		&::placeholder {
			font-size: 1.4rem;
		}
	}

	@media (width <= 550px) {
		font-size: 1.4rem;

		&::placeholder {
			font-size: 1.2rem;
		}
	}

	@media (width <= 425px) {
		font-size: 1.2rem;

		&::placeholder {
			font-size: 1rem;
		}
	}
}

.inputDiscription {
	font-size: 1.2rem;

	&::placeholder {
		font-size: 1.2rem;
	}

	@media (width <= 1024px) {
		font-size: 1.1rem;

		&::placeholder {
			font-size: 1.1rem;
		}
	}

	@media (width <= 768px) {
		font-size: 1rem;

		&::placeholder {
			font-size: 1rem;
		}
	}

	@media (width <= 550px) {
		font-size: 0.95rem;

		&::placeholder {
			font-size: 0.95rem;
		}
	}

	@media (width <= 425px) {
		font-size: 0.9rem;

		&::placeholder {
			font-size: 0.9rem;
		}
	}
}
