.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 0.5rem;
}

.text {
	line-height: 110%;
	font-size: 2.5rem;
}

.textTimerOver {
	line-height: 110%;
	font-size: 1.7rem;
	letter-spacing: 0.5px;
}
