.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.75rem;
	height: 30px;
	font-family: 'Roboto Flex', sans-serif;
	font-weight: 600;
	font-size: 1rem;
	border-radius: 50px;
	column-gap: 0.5rem;
	transition:
		background-color var(--change-theme-transition) ease,
		color var(--change-theme-transition) ease-out,
		opacity 0.2s ease;

	&:hover {
		opacity: 0.8;
	}

	@media (width <= 768px) {
		height: 27px;
		font-size: 0.95rem;
		column-gap: 0.45rem;
	}

	@media (width <= 550px) {
		height: 23px;
		font-size: 0.9rem;
		column-gap: 0.4rem;
	}
}

.linghtTheme {
	color: var(--main-font-color);
	background-color: var(--main-accent-color);
}

.darkTheme {
	color: var(--secondary-font-color);
	background-color: var(--secondary-accent-color);
}
